---
title: BrooksGarrett
layout: default
permalink: /learning/
---

<div class="row-fluid">
  <div class="span12" id="learning-{{tag.id}}">
  <h1>Table of Contents</h1>
  <p>This page contains various training and education resources I've found useful over my career.</p>
  <ul>
  {% for tag_hash in site.data.learning.tags %}
  {% assign tag = tag_hash[1] %}
    <li><a href="#{{tag.id}}">{{ tag.name }} | {{tag.description}}</a></li>
  {% endfor %}
  </ul>
  </div>
</div>

{% for tag_hash in site.data.learning.tags %}
{% assign tag = tag_hash[1] %}
<a name="{{tag.id}}"></a>
<div class="row-fluid">
  <div class="span12" id="learning-{{tag.id}}">
    <h2>{{ tag.name }}</h2>
        <hr />
    <ul>
    {% for resource_hash in site.data.learning.resources %}
    {% assign resource = resource_hash[1] %}
    {% if resource.tags contains tag.id %}
      <li><a href="{{ resource.link }}" target="_new">{{ resource.name }}</a> | {{resource.description}}</li>
    {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
{% endfor %}
