<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="alternate" type="application/rss+xml" title="Brooks Garrett - All Content" href="http://brooksgarrett.com/rss/feed.xml">
    <link rel="alternate" type="application/rss+xml" title="Brooks Garrett - Discovered Content" href="http://brooksgarrett.com/rss/feed.discovered.xml">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/syntax.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
    </style>

  </head>

  <body onLoad="setActiveNav()">
