<div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <h5>About the author</h5>
  <section>
    <p><a href="https://brooksgarrett.com/about/" itemprop="name" rel="author">Brooks Garrett</a> is a dedicated technologist who specializes in information security. Brooks has spent over 10 years
      implementing security programs for both the public and private sector including some of the biggest names in the Fortune 500. When he's not managing risk in the corporate environment you can find
      him at the local firestation where he is a volunteer firefighter.
    </p>
  </section>
</div>
