<div id="follow-icons">
	<a href="http://facebook.com/brooksgarrett" rel="me"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="http://twitter.com/brooksgarrett" rel="me"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="http://linkedin.com/in/brooksgarrett" rel="me"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="http://github.com/brooksgarrett" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://plus.google.com/+brooksgarrett" rel="author"><i class="fa fa-google-plus-square fa-2x"></i></a>
	<a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a>
	<a href="https://keybase.io/brooksgarrett" rel="author"><i class="fa fa-key fa-2x"></i></a>
</div>
