---
paginate: true
---
{% include header.html %}
{% include navbar.html %}
    <div class="container">
        {% if paginate %}
        {% include paginator.html %}
        {% endif %}
        <div class="row-fluid">
          <div class="span1">
             <p>HI!</p>
          </div>
          <div class="span8">
             <p>HI!</p>
          </div>
        </div>
	<div class="row-fluid">
    		<div class="span8">
      			{{ content }}
		</div>
	</div>
    </div>
{% include footer.html %}
